*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #2c2c2c;
    line-height: 1.6;
    background-color: #fafafa;
}

:root{
    --primary : #FF4D00;
    --primary-dark: #CC3D00;
    --secondary: #1a1a1a;    
    --accent: #00D9FF;       
    --text-dark: #1a1a1a;
    --text-light: #666;
    --bg-light: #f5f5f5;
    --white: #ffffff;

}

:root {
    --text-xs: 14px;
    --text-sm: 16px;
    --text-base: 18px;
    --text-lg: 24px;
    --text-xl: 32px;
    --text-2xl: 48px;
    --text-3xl: 64px;
}


h1 { font-weight: 900; }  
h2 { font-weight: 800; }
h3 { font-weight: 700; }
button { font-weight: 600; }
p { font-weight: 400; }

:root {
    --space-xs: 10px;
    --space-sm: 20px;
    --space-md: 40px;
    --space-lg: 60px;
    --space-xl: 80px;
    --space-2xl: 120px;
}

header .container{
    display: flex;
    justify-content: space-between;
    padding: var(--space-sm);
    background-color: var(--primary);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;   
}

a:hover{
    color: #666;
}

.hero{
    display: flex;
    padding: var(--space-md);
    background-color: var(--secondary);
}

.hero .left-side{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero .left-side h1{
    color: var(--bg-light);
}

.hero .left-side p{
    color: var(--bg-light);
    font-size: var(--text-base);
}

.hero .left-side button{
    width: 100px;
    height: 35px;
    border-radius: 8px;
}

.hero .left-side button:hover{
    background-color: #cdc3c3;
    cursor: pointer;
}

.features{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    background-color: var(--secondary);
    color: white;
    gap: 30px;
    align-items: center;
    padding: var(--space-md);

}

.card-holder{
    display: flex;
    gap: 30px;

}

.features .card{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 15px rgba(213, 219, 213, 0.08); 
    padding: var(--space-sm);
    border-radius: 8px;
    min-width: 200px;
    align-items: center;

}

.features .card img{
    height: 50px;
    width: 40px;

}

.features .card:hover{
    box-shadow: 0 12px 35px rgba(194, 173, 173, 0.838);
}

.classes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    padding: var(--space-sm);
}

.classes h2{
    font-size: var(--text-lg);
}

.classes-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: var(--space-md);
}

.classes-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    background-color: white;
    min-width: 200px;
    border-radius: 9px;
    box-shadow: 2px 4px 15px rgba(47, 42, 46, 0.82); 
}

.classes-card a{
    color: black;
}

.classes-card a:hover{
    color: #666;
}

.classes-card img{
    width: 70px;
    height: 70px;
}